<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>User Profile (JWT)</title></head>
<body>
<div class="container text-center" style="margin-top: 50px;">
    <h1>Spring Boot REST API with AJAX Example</h1>
    <div id="profile" style="font-size: 24px; font-weight: bold; margin: 20px;"></div>
    <button id="Logout" class="btn btn-danger">Logout</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="/js/mainjs.js"></script>
</body>
</html>